<div class="jumbotron m-3">
    <h1 class="display-4">Hola mundo!</h1>
    <p class="lead">Este es mi proyecto de tecnologias Web</p>
    <hr class="my-4">
    <p>Proyecto para la Maestria en tecnologiass web y diapositivos moviles. </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/products']" routerLinkActive="router-link-active"  role="button">Productos</a>
    <br><br><a class="btn btn-primary btn-lg" [routerLink]="['/paises']" routerLinkActive="router-link-active"  role="button">Practica paises</a>
  </div>