<p>carrito works!</p>

 
<div class="col-xs-5 col-md-4 col-sm-4 col-lg-4">
    <div class="panel panel-primary">
        <div id="divTotal" class="panel-heading">
            <h3 class="panel-title">Total</h3>
        </div>
        <div class="panel-body">
            <h2>Rs. 100</h2>
        </div>
    </div>
     
    
    <a href="#/checkout" class="btn btn-danger">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </a>
  
    <br><br>
    <button class="btn btn-primary"[routerLink]="['/products']" routerLinkActive="router-link-active">Ver mas productos</button>

</div>
